TEST_CLERK_SECRET_KEY=sk_test_...
TEST_CLERK_JWT_KEY=...
TEST_CLERK_WEBHOOK_SECRET=whsec_...
TEST_STRIPE_SECRET_KEY=sk_test_...
TEST_STRIPE_WEBHOOK_SECRET=whsec_...

PROD_CLERK_SECRET_KEY=sk_live_...
PROD_CLERK_JWT_KEY=...
PROD_CLERK_WEBHOOK_SECRET=whsec_...
PROD_STRIPE_SECRET_KEY=sk_live_...
PROD_STRIPE_WEBHOOK_SECRET=whsec_...
