---
import BackofficeApp from "@/modules/backoffice/ui/BackofficeApp";
import "@/styles/global.css";

export const prerender = false;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Portal Backoffice</title>
  </head>
  <body>
    <BackofficeApp client:only="react" />
  </body>
</html>
