---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Footer from "@/modules/ui/astro/Footer.astro";
import BackofficeApp from "@/modules/ui/views/BackofficeApp";

export const prerender = false;
---

<BaseLayout
  title="Booking Portal Backoffice"
  description="Booking Portal Backoffice"
>
  <BackofficeApp client:only="react">
    <div
      slot="fallback"
      class="flex items-center justify-center min-h-[60vh] bg-linear-to-b from-background to-muted/20"
    >
      <div class="flex flex-col items-center gap-4">
        <div
          class="h-8 w-8 animate-spin rounded-full border-[1.5px] border-zinc-800/20 border-t-zinc-900"
        >
        </div>
        <p class="text-sm font-light tracking-wide text-zinc-600">Loading...</p>
      </div>
    </div>
  </BackofficeApp>
  <Footer />
</BaseLayout>
