---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Footer from "@/modules/ui/astro/Footer.astro";
import Header from "@/modules/ui/astro/Header.astro";
import LucideIcons from "@/modules/ui/astro/LucideIcons.astro";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  canonicalUrl?: string;
  showMarble?: boolean;
  fullHeight?: boolean;
}

const {
  title,
  description,
  ogImage,
  canonicalUrl,
  showMarble = false,
  fullHeight = false,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  ogImage={ogImage}
  canonicalUrl={canonicalUrl}
>
  <Header />

  <main class:list={[{ "min-h-screen": !fullHeight, "marble-texture": showMarble }]}>
    <slot />
  </main>

  <Footer />
  <LucideIcons />
</BaseLayout>
