---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Footer from "@/modules/shared/ui/Footer.astro";
import Header from "@/modules/shared/ui/Header.astro";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  canonicalUrl?: string;
  showMarble?: boolean;
}

const {
  title,
  description,
  ogImage,
  canonicalUrl,
  showMarble = false,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  ogImage={ogImage}
  canonicalUrl={canonicalUrl}
>
  <Header />

  <main class:list={["min-h-screen", { "marble-texture": showMarble }]}>
    <slot />
  </main>

  <Footer />
</BaseLayout>
